<div class="row">

	<div class="col-sm-4">
		<a href="{{ '/air-conditioning-repair-endicott-ny/' | relative_url }}" class="thumbnail">
			<figure class="embed-responsive embed-responsive-16by9">
				<img src="{{ '/images/home/cards/hvac.jpg' | relative_url }}" alt="HVAC" class="img-responsive center-block" width="100%">
			</figure>
			<div class="caption text-center">
				HVAC
			</div>
		</a>
	</div>
	<div class="col-sm-4">
		<a href="{{ '/plumbing-company-endicott-ny/' | relative_url }}" class="thumbnail">
			<figure class="embed-responsive embed-responsive-16by9">
				<img src="{{ '/images/home/cards/plumbing.jpg' | relative_url }}" alt="Plumbing" class="img-responsive center-block" width="100%">
			</figure>
			<div class="caption text-center">
				Plumbing
			</div>
		</a>
	</div>
	<div class="col-sm-4">
		<a href="{{ '/commercial-plumbing-contractors-endicott-ny/' | relative_url }}" class="thumbnail">
			<figure class="embed-responsive embed-responsive-16by9">
				<img src="{{ '/images/home/cards/commercial.jpg' | relative_url }}" alt="Commercial" class="img-responsive center-block" width="100%">
			</figure>
			<div class="caption text-center">
				Commercial
			</div>
		</a>
	</div>

</div>
