<hr class="visible-xs-block">

<h4>
	Contact Us
</h4>
{% include form-contact-sidebar.html %}

<h4>
	Our Services
</h4>
<ul class="lead">
	<li>HVAC</li>
	<li>Plumbing</li>
	<li>Commercial Work</li>
	<li>And Many More!</li>
</ul>

<p>
	<a href="#" class="btn btn-primary btn-lg btn-block">Client Testimonials</a>
</p>

<p>
	<a href="http://www.mitsubishicomfort.com/" class="thumbnail" target="_blank">
		<img src="{{ '/images/mitsu.png' | relative_url }}" alt="Diamond Contractor" class="img-responsive center-block">
	</a>
</p>
<p>
	<a href="http://heil-hvac.com/" class="thumbnail" target="_blank">
		<img src="{{ '/images/heil.png' | relative_url }}" alt="Heil Heating & Cooling Products" class="img-responsive center-block">
	</a>
</p>
<p>
	<a href="http://www.bbb.org/upstate-new-york/business-reviews/plumbers/action-plumbing-heating-cooling-services-llc-in-endicott-ny-163015025/" target="_blank">
		<img src="{{ '/images/bbb.png' | relative_url }}" alt="BBB Accredited Business" class="img-responsive center-block">
	</a>
</p>

<div class="embed-responsive embed-responsive-4by3 thumbnail">
	<iframe class="embed-responsive-item" scrolling="yes" src="https://maps.google.com/maps?ie=UTF8&amp;cid=11188100658313734991&amp;q=Action+Plumbing,+Heating,+and+Cooling,+LLC&amp;gl=US&amp;hl=en&amp;t=m&amp;ll=42.104511,-76.03775&amp;spn=0.003184,0.00427&amp;z=16&amp;iwloc=A&amp;output=embed"></iframe>
</div>
