<section id="products-tabs">

	<!-- Nav tabs -->
	<ul class="nav nav-tabs" role="tablist">
		<li role="presentation" class="active">
			<a href="#gas-furnaces" aria-controls="gas-furnaces" role="tab" data-toggle="tab">Gas Furnaces</a>
		</li>
		<li role="presentation">
			<a href="#boilers" aria-controls="boilers" role="tab" data-toggle="tab">Boilers</a>
		</li>
		<li role="presentation">
			<a href="#ductless-split-systems" aria-controls="ductless-split-systems" role="tab" data-toggle="tab">Ductless Split Systems</a>
		</li>
		<li role="presentation">
			<a href="#air-conditioning" aria-controls="air-conditioning" role="tab" data-toggle="tab">Air Conditioning</a>
		</li>
		<li role="presentation">
			<a href="#on-demand-water-heaters" aria-controls="on-demand-water-heaters" role="tab" data-toggle="tab">On Demand Water Heaters</a>
		</li>
		<li role="presentation">
			<a href="#water-heaters" aria-controls="water-heaters" role="tab" data-toggle="tab">Water Heaters</a>
		</li>
	</ul>

	<!-- Tab panes -->
	<div class="tab-content">
		<div role="tabpanel" class="tab-pane active" id="gas-furnaces">
			<h3>Gas Furnaces</h3>
		</div>
		<div role="tabpanel" class="tab-pane" id="boilers">
			<h3>Boilers</h3>
		</div>
		<div role="tabpanel" class="tab-pane" id="ductless-split-systems">
			<h3>Ductless Split Systems</h3>
		</div>
		<div role="tabpanel" class="tab-pane" id="air-conditioning">
			<h3>Air Conditioning</h3>
		</div>
		<div role="tabpanel" class="tab-pane" id="on-demand-water-heaters">
			<h3>On Demand Water Heaters</h3>
		</div>
		<div role="tabpanel" class="tab-pane" id="water-heaters">
			<h3>Water Heaters</h3>
		</div>
	</div>

</section>
