<section id="products-tabs">

	{{ site.products.category }}

	<!-- Nav tabs -->
	<ul class="nav nav-tabs" role="tablist">
		{% for cat in site.data.product_categories %}
		<li role="presentation" class="{% if forloop.index == 1 %}active{% endif %}">
			<a href="#{{ cat.name | downcase | replace: ' ', '-' }}" aria-controls="{{ cat.name | downcase | replace: ' ', '-' }}" role="tab" data-toggle="tab">{{ cat.name }}</a>
		</li>
		{% endfor %}
	</ul>

	<!-- Tab panes -->
	<div class="tab-content">

		{% for cat in site.data.product_categories %}
		<div role="tabpanel" class="tab-pane {% if forloop.index == 1 %}active{% endif %}" id="{{ cat.name | downcase | replace: ' ', '-' }}">

			<header class="page-header">
				<h3>{{ cat.name }}</h3>
			</header>

			{% assign products = site.products | where: "category", cat.name %}
			{% assign products = products | sort: "title" %}
			{% for product in products %}
			<h4 class="media-heading">{{ product.title }}</h4>
			<div class="row">
				<div class="col-sm-3">
					{% if product.image_src %}
					<img class="img-responsive center-block" src="{{ product.image_src }}" alt="{{ product.title }}" width="200">
					{% else %}
					<img class="img-responsive center-block" src="https://placehold.it/300x400.png?text=No Image" alt="{{ product.title }}" width="200">
					{% endif %}
				</div>
				<div class="col-sm-9">
					{{ product.content }}
				</div>
			</div>
			<hr>
			{% endfor %}

		</div>
		{% endfor %}

	</div>

</section>
