---
layout: application
---

<section id="home-well" class="gradient-dark">
	<div class="container">
		<div class="row">
			<div class="col-sm-6 col-sm-push-6">
				{% include carousel-home.html %}
			</div>
			<div class="col-sm-6 col-sm-pull-6">
				<h3 class="text-serif">24 Hour Emergency Service</h3>
				<p class="lead">
					Action Plumbing, Heating & Cooling is an industry leading HVAC company carrying and installing only the highest quality lines of heating and cooling products.
				</p>
				<p>
					<a href="{{ '/action-plumbing-heating-cooling-endicott-ny/' | relativr_url }}" class="btn btn-block btn-lg btn-primary">Contact Us</a>
				</p>
			</div>
		</div>
	</div>
</section>

<section class="container">
	<div class="row">
		<div class="col-md-9 col-sm-8">
			<article class="article-content">
				{{ content }}
			</article>
		</div>
		<div class="col-md-3 col-sm-4">
			{% include sidebar.html %}
		</div>
	</div>
</section>
